<app-header></app-header>

<div *ngIf="loggedUser.role=='EDITOR'">
  <br/>
  <br/>
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paper of sciencePapersMainEditor">
        <td>{{paper.name}}</td>
        <td>{{paper.author.firstname}}</td>

        <td><button class="btn btn-sm btn-info" (click)="download(paper)">Preuzmi</button></td>
        <td><button class="btn btn-sm btn-warning"  (click)="openReworkCommentPopUp(paper)">Doradi</button></td>
        <td><button class="btn btn-sm btn-primary" (click)="approve(paper)">Odobri</button></td>
        <td><button class="btn btn-sm btn-danger" (click)="deletePaper(paper)">Odbij</button></td>
      </tr>
    </tbody>
  </table>
  <div class="pop-up-style" *ngIf="showPopUpComment">
    <div class="pop-up-inner">
      <div class="pop-up-top">
          <h5>Komentar</h5>
          <button (click)="togglePopUpVisibility()" class="x-button">x</button>
      </div>
      <div>
        <textarea [(ngModel)]="commentValue"></textarea>
      </div>
      <div>
        <button (click)="togglePopUpVisibility()">Odustani</button>
        <button (click)="sendComment()">Potvrdi</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loggedUser.role=='USER'">
  <div>
    <div *ngFor="let paper of sciencePapersUser">
      <h3>Rad: {{paper.name}}</h3>

      <p>Komentari:</p>
      <div *ngFor="let message of paper.comments">
        <p>{{message.content}}</p>
      </div>
      <div >
          <input  class="btn btn-sm btn-secundary" type="file" (change)="selectFile($event)" name="myfile" />
      </div>
      <div>
        <button class="btn btn-sm btn-primary" (click)="uploadPaper(paper)">Potvrdi</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loggedUser.role=='SECEDITOR'">
  <h2>Odradi recenziju rada</h2>
  <div *ngFor="let paper of secondEditorSiencePapers">
    <div *ngIf="paper.status == 'sec_editor_rev'">
      <h3>Rad {{paper.name}}</h3>
      <p>Autor: {{paper.author.firstname}}</p>

      <button  class="btn btn-sm btn-info" (click)="download(paper)">Preuzmi</button>
      <button  class="btn btn-sm btn-info" (click)="openChoseReviewersPopUp(paper)">Dodaj recenzente</button>
    </div>
  </div>
  <br/>
  <h2>Radovi sa zavrsenom recenzijom</h2>
  <div *ngFor="let paper of secondEditorSiencePapers">
    <div *ngIf="paper.status == 'sec_editor_decide'">
      <h3>Rad: {{paper.name}}</h3>
      <p>Autor: {{paper.author.firstname}}</p>

      <button class="btn btn-sm btn-info" (click)="download(paper)">Preuzmi</button>
      <button class="btn btn-sm btn-warning" (click)="editorDecision(paper,'big')">Velika dorada</button>
      <button class="btn btn-sm btn-warning" (click)="editorDecision(paper,'small')">Mala dorada </button>
      <button class="btn btn-sm btn-primary" (click)="editorDecision(paper,'approve')">Odobri</button>
      <button class="btn btn-sm btn-danger" (click)="editorDecision(paper,'discard')">Odbij</button>
      <p>Komentari:</p>
      <div *ngFor="let com of paper.comments">
        <p> {{com.content}}</p>
      </div>
    </div>
  </div>

  <h2>Radovi koji su zahtevali malu doradu:</h2>
  <div *ngFor="let paper of secondEditorSiencePapers">
    <div *ngIf="paper.status == 'small_mistake_resolve'">
      <h3>Rad: {{paper.name}}</h3>
      <p>Autor: {{paper.author.firstname}}</p>

      <button class="btn btn-sm btn-info" (click)="download(paper)">Preuzmi</button>
      <button class="btn btn-sm btn-warning" (click)="editorDecisionSmallMistake(paper,'small')">Ponovi malu doradu</button>
      <button class="btn btn-sm btn-primary" (click)="editorDecisionSmallMistake(paper,'approve')">Odobri</button>
      <button class="btn btn-sm btn-danger" (click)="editorDecisionSmallMistake(paper,'discard')">Odbij</button>
      <p>Komentari:</p>
      <div *ngFor="let com of paper.comments">
        <p> {{com.content}}</p>
      </div>
    </div>
  </div>


  <div class="pop-up-style" *ngIf="showPopUpComment">
    <div class="pop-up-inner">
      <div class="pop-up-top">
        <h4>Recenzenti</h4>
        <button (click)="togglePopUpVisibility()" class="x-button">x</button>
      </div>
      <div>
        <select [(ngModel)]="optionReviewer">
          <option *ngFor="let reviewer of reviewers">
            {{reviewer.username}}
          </option>
        </select>
        <button (click)="addReviewer()">Dodaj recenzenta</button>
      </div>
      <div>
        <h5>Odabrani:</h5>
        <div *ngFor="let reviewer of selectedReviewers">
          <label>{{reviewer.username}}</label>
          <button (click)="removeReviewer(reviewer)">x</button>
        </div>
      </div>
      <div>
        <button (click)="togglePopUpVisibility()">Odustani</button>
        <button (click)="confirmReviewers()">Potvrdi</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loggedUser.role=='REVIEWER'">
  <h2>Radovi koji cekaju recenziju:</h2>
  <div *ngFor="let paper of reviewerSciencePapers">
    <div *ngIf="paper.status == 'reviewers_looking'">
      <h3>Rad: {{paper.name}}</h3>
      <p>Autor: {{paper.author.firstname}} </p>

      <button  class="btn btn-sm btn-info" (click)="download(paper)">Preuzmi</button>
      <button  class="btn btn-sm btn-info" (click)="openAddReviewersPopUp(paper)">Napisi recenziju</button>
    </div>
  </div>

  <div class="pop-up-style" *ngIf="showPopUpComment">
    <div class="pop-up-inner">
      <div class="pop-up-top">
        <h5>Komentar</h5>
        <button (click)="togglePopUpVisibility()" class="x-button">X</button>
      </div>
      <div>
        <textarea [(ngModel)]="commentValue"></textarea>
      </div>
      <div>
        <label>Za urednika:</label>
        <select [(ngModel)]="reviewOption">
          <option>Prihvati</option>
          <option>Mala dorada</option>
          <option>Velika dorada</option>
          <option>Odbij</option>
        </select>
      </div>
      <div>
        <button (click)="togglePopUpVisibility()">Odustani</button>
        <button (click)="sendReview()">Potvrdi</button>
      </div>
    </div>
  </div>
</div>
