<h2> Banka :  BANKA2</h2>

<form  [formGroup] = "form"
       (ngSubmit) = "onSubmit(form.value)">


  <div>
    <label> Broj kartice: </label>
    <input  value="" type="number" name="brojKartice" id = "brojKartice"
            formControlName="brojKartice" placeholder="Broj kartice" maxlength="16" min = "0" max = "99"  onKeyPress="if(this.value.length==16) return false;" onkeydown="javascript: return (event.keyCode > 47 && event.keyCode < 58 || event.keyCode == 08)" >
  </div>


  <div>
    <label> CSC: </label>
    <input  value="" type="number" name="CSC" id = "CSC"
           formControlName="csc" placeholder="CSC" maxlength="3" min = "0" max = "999"  onKeyPress="if(this.value.length==3) return false;" onkeydown="javascript: return (event.keyCode > 47 && event.keyCode < 58 || event.keyCode == 08)" >
  </div>


  <div>
    <label> Datum isteka: </label>
    <input id ="datumIsteka" required="required"  name="datumIsteka"  formControlName="datumIsteka"  type="date"  (ngModelChange)="datumIsteka = $event" >

  </div>

  <div style="visibility:hidden">
    <label> PIN: </label>
    <input  value="" type="number" name="PIN" id = "PIN">
  </div>

  <div>
    <!--<button (click)="potvrdi($event)">Potvrdi</button>-->
    <input id="potvrdi" type = "submit" [disabled]="!form.valid"  value ="Potvrdi">

    <button	 type="reset" (click)="ponisti()">Ponisti</button>
  </div>
</form>
