<h1>Izaberite opciju placanja</h1>
<br/>
<div class ="opcijePlacanja">
    <div  class="opcija" *ngIf="payPalEnabled">
        <app-paypal></app-paypal>
    </div>
    <div  class="opcija" *ngIf="bitcoinEnabled">
      <a routerLink="/kriptovaluta"><img src="../../../assets/images/bitcoin.png" width="150" height="150"></a>
    </div>
    <div class="opcija" *ngIf="bankEnabled" >
        <app-banka></app-banka>
    </div>
</div>
<!--Napraviti kontroler sa dodeljenim vrenostima  cene i valute i proslediti na ovaj url -->
