<nav id="menu" class="navbar navbar-default fixed-top">
    <div class="container">       
      <div class="navbar-header">
        <a pageScroll class="navbar-brand page-scroll" href="#page-top">PaymentLink</a> 
      </div>                      
      <ul class="nav nav-pills navbar-right">
          <li>
            <!-- <a href="#about" class="page-scroll">About</a> -->
            <a pageScroll  href="#about">About</a>
          </li>
          <li>
            <a pageScroll href="#services" class="page-scroll">Services</a>
          </li>  
          <li>
            <a pageScroll href="#team" class="page-scroll">Team</a>
          </li>
          <li>
            <a pageScroll href="#contact" class="page-scroll">Contact</a>
          </li>
        </ul>            
    </div>
</nav>

<div id="page-top">
</div>

<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>We Are PaymentLink<span></span></h1>
            <p>Outsourcing payments. Leave your worries about payments to us.</p>
            <a href="/register" class="btn btn-custom btn-lg page-scroll">REGISTER</a> 
            <a href="/login" class="btn btn-custom btn-lg page-scroll" style="margin-left:10px; width:160px;">LOGIN</a> 
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6"> <img src="../../../assets/images/payment.jpg" class="img-responsive" alt=""> </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2>About Us</h2>
          <p>We enable you to leave all your worries about payments or subscriptions on 
              your website or some other form of your payed service to us.
              We offer you multiple of most popular modern payment types. 
              You can choose which ones you want and you can enable or disable them at your will.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="services" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Our Services</h2>
      <p>We offer a great variety of payment options for you to choose.</p>
    </div>
    <div class="row">
      <div class="col-md-4"> 
          <i class="fa fa-paypal"></i>
        <div class="service-desc">
          <h3>PayPal</h3>
          <p>Integrated PayPal Api allows your customers to pay either with their their PayPal accound or 
            Credit Card through PayPal.
          </p>
        </div>
      </div>
      <div class="col-md-4">
          <i class="fa fa-bitcoin"></i>
        <div class="service-desc">
          <h3>Bitcoin</h3>
          <p>Integrated Coingate Api allows your customers to pay through their cryptocurrency wallet.</p>
        </div>
      </div>
      <div class="col-md-4"> 
        <i class="fa fa-credit-card"></i>
        <div class="service-desc">
          <h3>Credit card</h3>
          <p>Standard Credit Card payment. Your customers will be redirected to the bank webisite.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="team" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Meet the Team</h2>
      <p>Small team of experts in their fields</p>
    </div>
    <div id="row">        
      <div class="col-md-3 col-sm-6 team">
        <div class="thumbnail"> <img src="../../../assets/images/aragorn.jpg" alt="..." class="team-img">
          <div class="caption">
            <h4>Stefan Milanovic</h4>
            <p>Senior Developer</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team">
        <div class="thumbnail"> <img src="../../../assets/images/boromir.jpg" alt="..." class="team-img">
          <div class="caption">
            <h4>Marko Zoric</h4>
            <p>Team Leader</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team">
        <div class="thumbnail"> <img src="../../../assets/images/gimli.jpeg" alt="..." class="team-img">
          <div class="caption">
            <h4>Aleksandar Lupic</h4>
            <p>Banking Expert</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  