<div >
  <div >
    <div >
      <form [formGroup]="form" >
        <br/>
        <br/>
        <div  style="text-align:center;">
          <input  type="text" formControlName="username" name="username" placeholder="Korisnicko ime">
          <span></span>
        </div>
        <br/>
        <br/>
        <div  style="text-align:center;">
          <input  type="email" formControlName="email" name="email" placeholder="Mail">
          <span ></span>
        </div>
        <br/>
        <br/>
        <div  style="text-align:center;">
          <input type="password" formControlName="password" name="password" placeholder="Lozinka">
          <span ></span>
        </div>
        <br/>
        <br/>
        <div style="text-align:center;">
          <input  type="text" formControlName="firstname" name="firstname" placeholder="Ime">
          <span ></span>
        </div>
        <br/>
        <br/>
        <div  style="text-align:center;">
          <input type="text" formControlName="lastname" name="lastname" placeholder="Prezime">
          <span ></span>
        </div>
        <br/>
        <br/>
        <div  style="text-align:center;">
          <input  type="text" formControlName="country" name="country" placeholder="Drzava">
          <span ></span>
        </div>
        <br/>
        <br/>
        <div  style="text-align:center;" >
          <input  type="text" formControlName="city" name="city" placeholder="Grad">
          <span></span>
        </div>
        <br/>
        <br/>
        <div  style="text-align:center;">
          <p *ngIf="emailError" id="error">Email taken.</p>
        </div>
        <br/>
        <br/>
        <div  style="text-align:center;">
          <button class="btn btn-success btn-lg" [disabled]="!form.valid" type="button" (click)="register()"> Registruj se </button>
        </div>
        <br/>
        <br/>
        <div  style="text-align:center;">
          <a href="/login" >
            Uloguj se
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
