
<app-header></app-header>
<br/>
<br/>
<div >
  <div >
    <div >
      <form [formGroup]="formUpload" enctype="multipart/form-data" >

        <br/>

        <div style="text-align:center;">
          <input  type="text" formControlName="name" name="name" placeholder="Naslov">

        </div>
        <br/>

        <div style="text-align:center;">
          <input type="text" formControlName="keywords" name="keywords" placeholder="Kljucne reci">

        </div>
        <br/>

        <div style="text-align:center;">
          <textarea type="text" formControlName="abbstract" name="abbstract" placeholder="Apstrakt"></textarea>
          <span ></span>
        </div>
        <br/>

        <div style="text-align:center;">
          <select formControlName="selectedMagazine" name="selectedMagazine" >
            <option selected></option>
            <option *ngFor="let magazine of magazines">{{magazine.name}}</option>
          </select>
          <span ></span>
        </div>
        <br/>
        <br/>


        <div style="text-align:center;">

          <input type="file" (change)="selectFile($event)" name="myfile" />
        </div>
        <br/>
        <br/>
        <!--<div class="flex-col-c p-t-170 p-b-40">-->

            <!--<div *ngIf="currentFileUpload" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"-->
              <!--aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">-->
              <!--{{progress.percentage}}%-->
            <!--</div>-->
          <!---->
        <!--</div>-->

        <div  style="text-align:center;">
          <button class="btn btn-success btn-lg"  [disabled]="!formUpload.valid" (click)="upload(formUpload.value)" > Dodaj rad</button>
        </div>
      </form>
    </div>
  </div>
</div>
