<button class="button btn-info" *ngIf='showFile' (click)='showFiles(false)'>Hide Files</button>

<button class="button btn-info" *ngIf='!showFile' (click)='showFiles(true)'>Show Files</button>

<div [hidden]="!showFile">
  <div class="panel panel-primary">
    <div class="panel-heading">List of Files</div>
    <div *ngFor="let file of fileUploads | async">
      <div class="panel-body">
        <!-- <details-upload [fileUpload]='file'></details-upload> -->
      </div>
    </div>
  </div>
</div>

<a href="{{fileUpload}}">{{fileUpload}}</a>

<div *ngIf="currentFileUpload" class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
    {{progress.percentage}}%</div>
</div>

<label class="btn btn-default">
  <input type="file" (change)="selectFile($event)">
</label>

<div class="wrap-login100">
  <form [formGroup]="formUpload" enctype="multipart/form-data" >
    <br/>
    <label>Title: </label>
    <br/>
     <input formControlName="name" type="text" class="form-control" name="name"  placeholder="title">
    <br/>
    <!--<div class="container-login100-form-btn">-->
      <!--<button type="button" (click)="serachMagazineTitle(formTitleMagazine.value)" class="login100-form-btn"> Search </button>-->
    <!--</div>-->

    <br/>
    <label>Keywords: </label>
    <br/>
    <input formControlName="keywords" type="text" class="form-control" name="keywords"  placeholder="Keywords">
    <br/>
    <br/>

    <label>Abstract</label>
    <br/>
     <input formControlName="abbstract" type="text" class="form-control" name="abbstract"  placeholder="Abstract">
    <br/>


    <label>File</label>
    <br/>
    <input type="file"  formControlName="textPDF" name="textPDF"/><br/><br/>

    <button class="btn btn-success"  [disabled]="!formUpload.valid" (click)="upload(formUpload.value)">Upload</button>
  </form>
</div>



<div class="container" style="width:400px">
  <div style="color: blue; margin-bottom: 20px">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>


  <br/>
  <br/>

</div>

