<h3>Search </h3>

<div class="wrap-login100">
  <form [formGroup]="formTitleMagazine" >
    <label>Magazin title: </label>
    <br/>
    <input  formControlName="field" type="text" class="form-control" name="magazineTitleKey" value="magazineTitle" readonly hidden>
    <input formControlName="value" type="text" class="form-control" name="magazineTitleValue"  placeholder="Magazine title">

    <div class="container-login100-form-btn">
      <button type="button" [disabled]="!formTitleMagazine.valid" (click)="serachMagazineTitle(formTitleMagazine.value)" class="login100-form-btn"> Search </button>
    </div>

  </form>
</div>

