
  <div >
    <div>
      <form [formGroup]="form">
        <br/>
        <br/>
        <div   style="text-align:center;" >
          <input class="text-center"  type="email" formControlName="email" name="email" placeholder="Mail">
          <span ></span>
        </div>
        <br/>
        <br/>
        <div  style="text-align:center;" >
          <input class="text-center"  type="password" formControlName="password" name="password" placeholder="Lozinka">
          <span></span>
        </div>
        <br/>
        <br/>
        <div>
          <p *ngIf="loginError" id="error">Greska!</p>
        </div>

        <div  style="text-align:center;" >
          <button class="btn btn-success btn-lg" type="button" [disabled]="!form.valid" (click)="login()">Uloguj se</button>
        </div>

        <div style="text-align:center;" >
          <a  href="/register" >
            Registruj se
          </a>
        </div>
      </form>
    </div>
  </div>

